body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(315deg, #e056fd 0%, #000000 74%);
}

.form-control {
    font-size: 28px;
    font-weight: 700;
    color: hsl(0, 1%, 44%);
    margin-bottom: 30px;
}

label {
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: hsl(0, 1%, 44%);
}

.inner {
    border-radius: 15px;
    border-bottom-right-radius: 100px;
}

form {
    border-bottom: 2px solid hsl(0, 0%, 86%);
}

.form-control:focus {
    border-color: hsl(259, 100%, 65%);
    box-shadow: 0px 0px 10px hsl(0, 1%, 44%);
}

.reset {
    right: 15px;
    transform: translate(3px, -30%);
}

.reset span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    text-align: center;
    line-height: 3.3;
    transition: all 0.3s;
}

.reset span:hover {
    background-color: hsl(0, 0%, 8%);
    color: white;
}

.reset i {
    color: white;
    font-size: 20px;
}

.purple {
    color: hsl(259, 100%, 65%);
}

.user-age>div {
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    margin-right: 20px;
}